<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{title}}</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="{{csrfToken}}">
<input type="hidden" name="_csrf" value="{{csrfToken}}" id="csrf">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/admin/assets/css/vendor/bootstrap.min.css">
<!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/admin/assets/css/vendor/ionicons.min.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="/admin/assets/css/plugins/slick.min.css">
<!-- Animation -->
<link rel="stylesheet" href="/admin/assets/css/plugins/animate.min.css">
<!-- jQuery Ui -->
<link rel="stylesheet" href="/admin/assets/css/plugins/jquery-ui.min.css">
<!-- Nice Select -->
<link rel="stylesheet" href="/admin/assets/css/plugins/nice-select.min.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="/admin/assets/css/plugins/magnific-popup.css">

<link rel="stylesheet" href="/admin/assets/css/style.css">
