<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <img src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light"><b>HỆ THỐNG QUẢN LÝ</b></span>
</a>
<!-- Sidebar -->
<div class="sidebar">
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header"><b>TÀI KHOẢN NHÀ CUNG CẤP</b></li>
        <li class="nav-item has-treeview">
            <a href="/supply/dashboard" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Bảng điều khiển
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/supply/products" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                   Danh mục sản phẩm
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/supply/products/created" class="nav-link">
                        <i class="fas fa-plus nav-icon"> </i>
                        <p>Gửi duyệt sản phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/supply/products/all" class="nav-link">
                        <i class="fas fa-procedures nav-icon"></i>
                        <p>Danh sách sản phẩm</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/supply/products/selling" class="nav-link">
                <i class="fas fa-shopping-bag nav-icon"></i>
                <p>Sản phẩm đăng bán</p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="/supply/money" class="nav-link">
                <i class="nav-icon fas fa-money-bill"></i>
                <p>
                    Quản lý đối soát
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/supply/settings" class="nav-link">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Thiết lập
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/supply/settings/information" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Thông tin nhà cung cấp</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/supply/settings/users" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tài khoản nhân viên</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/supply/settings/banks" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tài khoản ngân hàng</p>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->