<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <img src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light"><b>HỆ THỐNG QUẢN LÝ</b></span>
</a>
<!-- Sidebar -->
<div class="sidebar">
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header"><b>TÀI KHOẢN SHOP</b></li>
        <li class="nav-item has-treeview">
            <a href="/shop/dashboard" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                   Bảng điều khiển
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="/shop/delivery/created" class="nav-link">
                <i class="nav-icon fas fa-cart-plus"></i>
                <p>
                    Tạo đơn hàng
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-file-contract"></i>
                <p>
                    Quản lý vận đơn
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/shop/delivery" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tất cả vận đơn</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/drap" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Lưu nháp</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/new" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Đợi xác nhận</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/confirm" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Đã xác nhận</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/takeship" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Shipper đang lấy hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/receivedship" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Shipper đã nhận</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/shipping" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Đang giao hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/finish" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Giao thành công</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/return" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Khách trả lại hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/returnshop" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Hàng về shop</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/cancel" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Hủy vận đơn</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/checking" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Đang đối soát</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/delivery/checked" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Đã đối soát</p>
                    </a>
                </li>
            </ul>
        </li>
       <!-- <li class="nav-item has-treeview">
            <a href="/shop/customers/all" class="nav-link">
                <i class="nav-icon fas fa-user-alt"></i>
                <p>
                  Quản lý khách hàng
                </p>
            </a>
        </li>
-->
        <!--<li class="nav-item has-treeview">
            <a href="/shop/money" class="nav-link">
                <i class="nav-icon fas fa-money-bill"></i>
                <p>
                    Quản lý đối soát
                </p>
            </a>
        </li>-->
        <li class="nav-item">
            <a href="/shop/settings" class="nav-link">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    Thiết lập
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/shop/settings/information" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Thông tin Shop</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/settings/users" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tài khoản nhân viên</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/settings/address" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Địa chỉ nhận hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shop/settings/banks" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tài khoản ngân hàng</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->